@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  width: 100%;
  height: 100%;
  font-family : "Macan",serif;
  
} 
@font-face {
  font-family: 'Gooper';
  src: url('./assets/fonts/Gooper-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Macan';
  src: url('./assets/fonts/Macan-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  h1,h3{
    font-family : "Gooper",serif;
    font-weight : 700
  }
  h2{
    @apply text-4xl font-bold ;
  }
}

@layer components{
    .layout {
        @apply px-4 sm:px-[5vw] md:px-[7vw] lg:px-[9vw] min-h-screen ;
      }
      
}
