
a.active hr {
  display: block;
}

input[type="radio"].checkbox:indeterminate {
  background-image: none !important;
  background-color : var(--bgdarkSecondary);
}

input::placeholder {
  color: black;
  opacity: 0.6;
}